name: Go

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ^1

      - name: Vet Go code
        run: go vet ./encoding/xml
        working-directory: vendor/go/src

      - name: Test Go code
        run: go test -v -race ./encoding/xml
        working-directory: vendor/go/src

      - name: Test Go without cgo
        env:
          CGO_ENABLED: 0
        run: go test -v ./encoding/xml
        working-directory: vendor/go/src

      - name: Verify repo is unchanged
        run: git diff --exit-code HEAD
